# Node.js

# Logs
*.log

# Dependency directories
node_modules/

# dotenv environment variable file
.env

# Build output
/dist

# React

# Production
/build

# Docker

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore Docker logs
*.log
