# Node.js

# Logs
*.log

# Dependency directories
node_modules/

# dotenv environment variable file
.env

# Build output
/dist
dist/
backend/dist/
frontend/dist/

# React

# Production
/build
build/

# Docker

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore Docker logs
*.log
